<div class="jumbotron">
    <h1>Bienvenue sur Geekstagram</h1>
    <p>
        Geekstagram est un réseau social destiné aux geeks.
    </p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/NilinC/Geekstagram-ORT" target="_blank" role="button">En savoir plus</a></p>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Inscription
        </h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="name">Pseudo</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Pseudo">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
            </div>

            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </form>
    </div>
</div>
