<header ng-controller="menuController as menuCtrl">
    <nav class="navbar navbar-inverse navbar-geek navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-geek" href="#/">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    Geekstagram
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse" ng-init="menuCtrl.initUser()">
                <form class="navbar-form navbar-left" ng-submit="menuCtrl.searchUser(searchUser)">
                    <div class="form-group" ng-init="menuCtrl.getUsers()">
                        <input type="text" placeholder="Recherche" list="search" class="form-control" ng-model="searchUser" ng-keypress="menuCtrl.search(searchUser)">
                        <datalist id="search">
                            <option value="{{ user.name }}" ng-repeat="user in menuCtrl.userList"></option>
                        </datalist>
                    </div>
                    <button type="submit" class="btn btn-success">Rechercher</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/profil">{{ menuCtrl.user.name }}</a></li>
                    <li><a href="" ng-click="menuCtrl.disconnect()" ng-if="menuCtrl.isConnected">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>